.nav-tabs .nav-link.active {
  background: bisque;
}
.card-header-tabs {
  /* margin-right: -.625rem; */
  margin-bottom: -0.75rem;
  /* margin-left: -.625rem; */
  border-bottom: 0;
}
.card {
  height: 40.54px;
}
.todolist {
  height: 400px;
  padding: 40px;
}
