body {
  background-color: rgb(255, 253, 251);
}
nav {
  background: rgb(59, 59, 65);
  height: 80px;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 500;
  /* position:relative; */
}
nav ul {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  text-align: center;
}
nav ul ul {
  position: absolute;
  /* z-index: 99; */
  background: black;
  padding-inline-start: 0px;
  top: 100%;
}
nav ul ul {
  display: none;
  text-align: center;
}
nav ul li:hover > ul {
  display: block;
}
nav ul ul li {
  padding-left: 0px;
}

nav ul li {
  list-style-type: none;
  padding-left: 15px;
  width: 150px;
}
nav ul li a {
  color: white;
}
.searchbar {
  /* padding-left: 150px; */
}
.Breadcrumbs {
  /* border: 2px solid red; */
  height: 50px;
  margin-top: 10px;
}
.Breadcrumbs ul {
  list-style-type: none;
  padding-left: 150px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}
.Breadcrumbs ul li {
  padding-left: 15px;
}
.Breadcrumbs ul li img {
  width: 25px;
}
main {
  /* border: blue 2px solid; */
}
main .leftaside {
  /* border: green 2px solid; */
  padding: 20px;
  width: 30%;
}
main .leftaside ul {
  display: none;
}
main .leftaside h2 {
  border-bottom: 3px solid #4c4b4b;
}

main .rightaside {
  /* border: orange 2px solid; */
  padding: 20px;
}
main .rightaside h3 {
  border-bottom: 3px solid #4c4b4b;
}
main .rightaside .productmain {
  flex-wrap: wrap;
  padding: 30px;
}
main .rightaside .productmain .card {
  margin-top: 15px;
  background: rgb(240, 239, 238);
  border: none;
  border-radius: 5px;
}
main .rightaside .productmain .card:hover {
  box-shadow: 3px 3px 3px rgb(95, 95, 95);
  transition: ease-in 0.3s;
}
main .rightaside .productmain .card img {
}
.ptitleul {
  text-align: center;
}
.ptitle ul {
  list-style-type: none;
  font-size: 18px;
  padding-inline-start: 0px;
  /* margin-top: 0;
  margin-bottom: 0; */
}
.ptitle ul li {
  padding-top: 5px;
}
footer {
  background-color: rgb(59, 59, 65);
  height: 120px;
}
footer h3 {
  color: white;
  text-align: center;
}
