* {
  list-style: none;
  font-family: 微軟正黑體;
}
.container-fluid {
  width: 100%;
  padding: 0;
}
.container-fluid .banner {
  background-size: cover;
  background-image: url("./pic/banner1.jpg");
  min-height: 718px;
  width: 100%;
}
nav {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  z-index: 999;
  width: 250px;
}
.logo {
  background: white;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.togglebar {
  background-color: rgb(21, 99, 60);
  position: relative;
}
.togglebar.active {
  height: 100px;
}
.nav_detail {
  background: rgb(21, 99, 60);
  color: white;
  font-size: 24px;
  padding-top: 15px;
  opacity: 0;
}
.nav_detail > ul > li > a {
  color: #fff;
}
.nav_detail > ul > li > a:hover {
  color: rgb(230, 255, 90);
}
.nav_detail.active {
  opacity: 1;
  padding-top: 0;
}
.nav_detail > ul {
  flex-direction: column;
  padding-inline-start: 0px;
}
.nav_detail > ul > li {
  padding-top: 8px;
}
.togglebar.active i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.togglebar > i {
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.togglebar.active i:nth-child(1) {
  transform: rotate(45deg);
}
.togglebar.active i:nth-child(3) {
  transform: rotate(-45deg);
}
.togglebar.active i:nth-child(2) {
  opacity: 0;
}

.togglebar > span {
  color: white;
  font-size: 18px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.togglebar.active > span {
  opacity: 0;
}
.container-fluid .banner {
  background-size: cover;
  background-image: url("./pic/banner1.jpg");
  min-height: 718px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.banner .ourproduct h1 {
  font-size: 54px;
}
.banner .ourproduct {
  width: 400px;
  height: 150px;
  background: rgb(21, 99, 60, 0.7);
  text-align: center;
  color: white;
  border-radius: 10px;
}
main {
}
main .hotsale {
  padding: 55px;
}
.hotsale .hotsaleitem {
  padding-top: 20px;
  font-size: 24px;
}
.hotsaleinner {
  width: 50%;
  /* border: red solid 2px; */
  padding-left: 150px;
}
.hotsale .hotpic {
  width: 40%;
  /* border: red solid 2px; */
}
